h1 {
  font-size: 25px;
  display: inline;
}

.widget {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;

}

.widget ul li {
  margin: 10px 0px;
}

.time {
  background-color: orange;
  color: white;
  padding: 20px;
}

.tab-header {
  display: flex;
  flex-direction: row;
}

.tab-header li{
  margin: 10px 50px 0px 50px;
  border: 1px solid black;
}
